<?php

/**
 * Path Settings
 *   - Relative path from where you would be running the scripts
 *     (assumed to be your version control root, which may or may not differ
 *     from your web root)
 *   - Do not use trailing slashes
 */

// Location of dbscripts folder
$script_path = './dbscripts';

// Location of settings.php
$settings_path = './sites/default/settings.php';

// Location where database dump files will be stored
$dump_path = './databases';

// Location of mysql binaries (needs to be set if not in your path)
$mysql = 'mysql';
$mysqldump = 'mysqldump';

// Charset location
$charsets = '/usr/local/share/mysql/charsets';

// Database type (mysql, mysqli)
$dbtype = 'mysqli';


/**
 * Auto Increment IDs Handling
 *
 * DBScripts comes with a method to automatically raise increments of new
 * content within the development branch to be above the production branch.
 * This method may have unexpected results if you are not careful in how you
 * manage using content with auto_increment IDs.  Other external methods may be
 * used, such as a patch to Drupal core, or setting a server-wide MySQL setting
 * for increment_increment and increment_offset -- or any other method you know
 * of.
 *
 * Set to TRUE to use the built-in dbscripts method to raise increments.
 *
 * Set to FALSE to use your own auto_increment handling method.
 */

$raise_increments_on_merge = TRUE;



/**
 * Filtered tables
 * Some data is not nessisary in some cases and shouldn't be stored
 */

// These tables are always filtered except when 'none' filtering option is used
// always deleted when performing a restore
$tables_filtered =  array(
  'cache',
  'cache_.*',
  'views_object_cache',
  'votingapi_cache',
);

// Tables for 'min' filtering option
// preserved in working space
$tables_filtered_l1 = array(
  'masquerade',
  'sessions',
  'openid_association',
);

// Tables for 'full' filtering option, in addition to 'min'
// preserved in working space
$tables_filtered_l2 =  array(
  'accesslog',
  'aggregator_item',
  'aggregator_category_item',
  'batch',
  'comment_notify',
  'fivestar_comment',
  'flood',
  'history',
  'mollom',
  'node_comment_statistics',
  'node_counter',
  'notifications',
  'notifications_event',
  'notifications_fields',
  'notifications_queue',
  'notifications_sent',
  'poll_votes',
  'search_dataset',
  'search_index',
  'search_node_links',
  'search_total',
  'votingapi_vote',
  'watchdog',
);


/**
 * Classifying Tables
 * Should the data be taken from development, production, or be merged
 */

// Tables that contain content to be merged from both development and
// production
$tables_merge = array(
  'aggregator_category',
  'aggregator_category_feed',
  'aggregator_feed',
  'authmap',
  'blogapi_files',
  'book',
  'content_field_.*',
  'content_type_.*',
  'files',
  'forum',
  'image',
  'image_attach',
  'img_assist_map',
  'menu_links',
  'menu_router',
  'node',
  'node_access',
  'node_revisions',
  'profile_values',
  'poll',
  'poll_choices',
  'term_data',
  'term_hierarchy',
  'term_node',
  'term_relation',
  'term_synonym',
  'upload',
  'url_alias',
  'users',
  'users_roles',
  'vocabulary',
  'vocabulary_node_types',
  'webform_submissions',
  'webform_submitted_data',
);

// Tables that contain content to be taken from production
// Will override any data made during development
$tables_override = array(
  'accesslog',
  'aggregator_item',
  'aggregator_category_item',
  'batch',
  'comments',
  'comment_notify',
  'fivestar_comment',
  'flood',
  'history',
  'mollom',
  'node_counter',
  'node_comment_statistics',
  'poll_votes',
  'profile_values',
  'search_dataset',
  'search_index',
  'search_node_links',
  'search_total',
  'sessions',
  'votingapi_vote',
  'watchdog',
);